* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

nav {
    display: flex;
    background-color: black;
    color: white;
    width: 100vw;
    margin-bottom: 0;
    justify-content: space-between;
}

#logo {
    /* align-content: center; */
    padding: 2vh 0;
    /* background-color: lightgoldenrodyellow; */
}

#logo img{
    /* width: 30%; */
    /* height: auto; */
    /* align-self: center; */
    margin-left: 10vw;
    border-radius: 50%;
    /* justify-self: right; */
}

nav ul {
    align-self: center;
    justify-self: right;
    list-style-type: none;
    display: inline-flex;
    text-align: right;
    margin-right: 10vw;
    /* background-color: pink; */
}

nav ul li {
    margin-left: 5vw;
    text-align: right;
    /* background-color: purple; */
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline overline;
    text-underline-position: under;
}

.container {
    background-color: #fff;
    width: 66vw;
    height: auto;
    margin: 3vh auto;
    text-align: center;
    padding: 2em;
    border: 6px double lightgrey;
}

h1 {
    margin: 0;
}

pre {
    white-space: pre-wrap;
}

.italic {
    font-style: italic;
}

address {
    margin-top: 2vh;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.column {
    background-color: #fff;
    width: 20vw;
    height: auto;
    margin-bottom: 3vh;
    text-align: center;
    padding: 2em;
    border: 6px double lightgrey;
}

.columnTwo {
    margin-left: 3vw;
    margin-right: 3vw;
}


footer {
    display: flex;
    background-color: black;
    color: white;
    width: 100vw;
    justify-content: space-between;
    bottom: 0;
}

footer ul {
    align-self: center;
    list-style-type: none;
    display: flex;
    width: 50vw;
}

footer ul li {
    margin-left: 5vw;
}

footer #logo{
    margin-right: 10vw;
}

